.seema {
  display:flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}
.header{
  height: 40px;
  background-color: pink; 
  color: purple;
}
a {
  color: black;
  text-decoration: dotted;
}